  <nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Article</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        {{#if isHomePage}}
        <li class="active"><a href="/">Home</a></li>
        {{else}}
        <li><a href="/">Home</a></li>    
        {{/if}}

        {{#if isAboutPage}}
        <li class="active"><a href="/about">About</a></li>
        {{else}}
        <li><a href="/about">About</a></li>
        {{/if}}

        {{#if isArticlePage}}
        <li class="active"><a href="/article">Article</a></li>
        {{else}}
        <li><a href="/article">Article</a></li>
        {{/if}}

        {{#if isAddArticlePage}}
        <li class="active"><a href="/add-article">Add article</a></li>
        {{else}}
        <li><a href="/add-article">Add article</a></li>
        {{/if}}

      </ul>
    </div>
  </nav>